#component-4 {
    background: #092a8f !important;
}

.message.bot {
    background: #108bad !important;
    font-family: "Lucida Handwriting" !important;
}

.message.user {
    background: #ad0ea8 !important;
}

#CHATBOT {
    background: #092a8f !important;
}